#stop-cast-button {
    position: absolute;
    bottom: 80px;
    /* Adjust as needed */
    right: 10px;
    background-color: #f44336;
    /* Red color for stop */
    color: #fff;
    padding: 10px 15px;
    border-radius: 2.3px;
    cursor: pointer;
    z-index: 2147483647;
    display: none;
    /* Initially hidden */
    font-size: 16px;
    opacity: 0.8;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#stop-cast-button:hover {
    background-color: #d32f2f;
    opacity: 1;
}